/*  VARIABLES DE COLOR Y TIPOGRAFÍA */
:root {
  --color-principal: #006980;
  --color-blanco: #ffffff;
  --color-hover: #00d5ff;
  --color-texto: #000000d8;
  --fondo-seccion: #afafaf;
  --borde-radio: 10px;
  --fuente-subtitulos: "Barlow", Helvetica, Arial, sans-serif;
  --fuente-general: 'Montserrat', sans-serif;
}

/*  RESET BÁSICO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-blanco);
}

header h1 {
  font-weight: bold;
}

/* ========================================  BOTON INICIO======== */

.btn-custom { 
  background-color: var(--color-principal);
  color: var(--color-blanco);
  font-weight: bold;
  border-radius: 6px;  
  padding: 10px 13px;
  border: none;
  transition: background-color 0.3s ease;
}


.btn-custom:hover {
  background-color: var(--color-hover); 
  color: var(--color-blanco);
  text-decoration: none;
}

/* ===================================== NAVBAR CUSTOM ======== */
.navbar-custom {
  background-color: var(--color-principal) !important; /* color de fondo */
  padding: 9px 20px; 
  height: 65px; /* altura fija del nav */
}

.navbar-custom .navbar-brand {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-blanco);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: uppercase;  
}

.navbar-custom .nav-link {
  font-size: 1.3rem;
  color: #f8f9fa !important;
  transition: color 0.3s ease;
  font-weight: bold;
}

.navbar-custom .nav-link:hover {
  color: var(--color-hover) !important;
}




/* ==================================== CARDS ======== */

#info .card {
  border: none;
  transition: transform 0.3s ease;
  background-color: var(--color-principal);
  color: var(--color-blanco);

}

#info .card:hover {
  transform: translateY(-10px);
  background-color: var(--color-hover);

}

#carrusel img {
  height: 500px;       /* Altura fija para todas */
  object-fit: cover;   /* Ajusta sin deformar */
  margin-top: 70px ;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-color: var(--color-principal);
  border-radius: 50%;
  background-size: 80%, 40%;
  border: 2px solid var(--color-texto); 
  padding: 20px 20px;
}

/* ==================================== SECCIÓN NUESTRO EQUIPO ======== */
#equipo {
  padding: 50px 20px;
  font-family: var(--fuente-general);
}

#equipo h5 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: var(--color-principal);
  font-family: var(--fuente-subtitulos);
}
 

/* =========================================================
                   SECCIÓN FOOTER 
========================================================= */

.footer-col {
  display: flex;
  flex-direction: column;
  align-items:left; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  gap: 12px;
}

.footer {
  background-color: black;     /*Fondo del Footer*/
  padding: 40px 20px 0;
  font-family: var(--fuente-general);
}

.logo-footer {
  width: 270px;
  height: 200px;
  margin-bottom: 2px;
  background-color: transparent;
}

.footer-contenido {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-col h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
} 

.footer-col .resaltado {
  color: var(--color-blanco); 
  font-family: var(--fuente-subtitulos);
  font-size: 1.84rem; /*tamaño texto ACTSIS*/
}

.footer-col h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--color-principal); /* Color Sobre Nosotros, Servicios, Contactanos */
  font-family: var(--fuente-general);
}

.footer-col p {
  margin: 6px 0;
  font-size: 0.95rem;
  line-height: 1.5;
}

.footer-col a {
  text-decoration: none;
  color: var(--color-blanco);
  transition: color 0.2s ease;
}

.footer-col a:hover {
  color: var(--color-hover);
}

.footer-bottom {
  background-color: var(--color-principal); /* Franja inferior */
  color: var(--color-blanco);
  text-align: center;
  padding: 10px;  
  margin-top: 50px;
  font-size: 0.9rem;
}

/*=========================== RESPONSIVE FOOTER =========================== */





