/*  VARIABLES DE COLOR Y TIPOGRAFÍA */
:root {
  --color-principal: #006980;
  --color-blanco: #ffffff;
  --color-hover: #00d5ff;
  --color-texto: #000000d8;
  --fondo-seccion: #afafaf;
  --borde-radio: 10px;
  --fuente-subtitulos: "Barlow", Helvetica, Arial, sans-serif;
  --fuente-general: 'Montserrat', sans-serif;
}

body {
  font-family: var(--fuente-general);
  background-color: var(--color-blanco);
}

header h1 {
  font-weight: bold;
}

/* ========================================  BOTON INICIO======== */

.btn-custom { 
  background-color: var(--color-principal);
  color: var(--color-blanco);
  font-weight: bold;
  border-radius: 6px;  
  padding: 10px 13px;
  border: none;
  transition: background-color 0.3s ease;
}


.btn-custom:hover {
  background-color: var(--color-hover); 
  color: var(--color-blanco);
  text-decoration: none;
}

/* ===================================== NAVBAR CUSTOM ======== */
.navbar-custom {
  background-color: var(--color-principal) !important; /* color de fondo */
  padding: 9px 20px; 
  height: 65px; /* altura fija del nav */
}

.navbar-custom .navbar-brand {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-blanco);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: uppercase;  
}

.navbar-custom .nav-link {
  font-size: 1.3rem;
  color: #f8f9fa !important;
  transition: color 0.3s ease;
  font-weight: bold;
}

.navbar-custom .nav-link:hover {
  color: var(--color-hover) !important;
}




/* ==================================== CARDS ======== */

#info .card {
  border: none;
  transition: transform 0.3s ease;
  background-color: var(--color-principal);
  color: var(--color-blanco);

}

#info .card:hover {
  transform: translateY(-10px);
  background-color: var(--color-hover);

}

#carrusel img {
  height: 500px;       /* Altura fija para todas */
  object-fit: cover;   /* Ajusta sin deformar */
  margin-top: 70px ;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-color: var(--color-principal);
  border-radius: 50%;
  background-size: 80%, 40%;
  border: 2px solid var(--color-texto); 
  padding: 20px 20px;
}






