body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0; /* Elimina espacios por defecto del navegador */
  padding: 0;
}

/* ------------------- */
/*    CONTENEDORES     */
/* ------------------- */

/* Contenedor general del nav */
nav {
  background-color: #006980;
  padding: 20px 5%;
  border-radius: 5px;

}

/* Contenedor principal de los 칤tems */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;                                                  /* Evita que se desborde en pantallas medianas */
}


/* -------------------------- */
/* 游늶 ESTRUCTURA DE LISTA UL */
/* -------------------------- */

/* Lista principal de navegaci칩n */
nav ul {
  list-style: none;
  display: flex;
  gap: 80px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;                                     /* Texto en may칰sculas */
}

/* 칈tems individuales de la lista (para agregar algo m치s adelante) */
nav ul li {
  /* animaciones o decoraciones individuales*/
}


/* --------------------------- */
/*  ENLACES DE NAVEGACI칍N   */
/* --------------------------- */

/* Enlaces del men칰 */
.nav-link {
  color: #ffffff; /* Color texto de la lista*/
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 4px;                                           /* Mejora visual UX en hover */
}

/* UX: Hover para buena experiencia */
.nav-link:hover {
  color: #00ffff;
  background-color: rgba(255, 0, 0, 0.1); 
  cursor: pointer;
}

/* -------------------------- */
/*    CABECERA O T칈TULO      */
/* -------------------------- */

.titulo_actsis {
  text-align: center;
  font-size: 35px;
  color: #006980; /* Color del t칤tulo */
  margin-top: 10px;
}

.subtitulos_generales {
  text-align: left;
  font-size: 30px;
  color: #006980; /* Color de los subt칤tulos */
  margin-top: 20px;
  margin: 20px; 
}

.parrafos {
  padding: 10px;
  margin-top: 20px; /* Espacio entre p치rrafos */
  font-size: 16px; /* Tama침o de fuente para p치rrafos */
  line-height: 1.5; /* Mejora la legibilidad */
  padding: 18px; 

}

 /* -------------------------- */
/* 游님 RESPONSIVE DESIGN      */
/* -------------------------- */

  @media (max-width: 768px) {
    .navbar, nav ul {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin: 0;                                                        /* Elimina m치rgenes para evitar desbordes */
      width: 100%;                                                      /* Asegura que ocupe todo el ancho */
    }


      /* Enlaces se expanden a todo el ancho */

    .nav-link {
      font-size: 14px;
      padding: 8px;
      width: 100%;                                                      /* Ocupa todo el ancho en m칩viles */
    }
  }
